body {
  text-align: center;
  font-family: Helvetica, sans-serif;
}

.hero {
  color: White;
  background-image: url("../image/the-flatiron-building.png");
}

h1 {
  font-size: 70px;
  font-weight: bold;
}

a {
  color: White;

}
ul {
  list-style-type: none;
}

.footer {
  font-size: 11px;
  color: White;
  background-color: dimgray;
  text-align: left;
}
