body {
  text-align: center;
  font-family: Helvetica, sans-serif;
}

.hero, .design {
  color: White;
  background-image: url("../image/the-flatiron-building.png");
  background-size: cover;
}

h1 {
  font-size: 70px;
  font-weight: bold;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

a {
  color: White;
  font-size: 18px;
}

p {
  font-size: 14px;
  }

ul {
  list-style-type: none;
}

.footer {
  font-size: 11px;
  color: White;
  background-color: dimgray;
  text-align: left;
}
